<div class="container">
  <mat-paginator
    [length]="paginatorOptions.length"
    [pageSizeOptions]="paginatorOptions.pageSizeOptions"
    [pageSize]="paginatorOptions.pageSize"
    [pageIndex]="paginatorOptions.pageIndex"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)">
  </mat-paginator>

  <div class="list_container">
    <app-pokemon-card
      [pokemon]="pokemon"
      *ngFor="let pokemon of pokemonData"
    ></app-pokemon-card>
  </div>

  <mat-paginator
    [length]="paginatorOptions.length"
    [pageSizeOptions]="paginatorOptions.pageSizeOptions"
    [pageSize]="paginatorOptions.pageSize"
    [pageIndex]="paginatorOptions.pageIndex"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
