.pokedex-container {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex-card {
  width: 70vw;
  height: 80vh;
  background-color: #ea4335;
  border-radius: 5vh;
  display: flex;
  box-shadow: 2vh 2vh 5px 0.5vh rgba(0,0,0,0.25);

  .baseInfo, .moreInfo {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 5vh;
  }

  .image {
    width: 90%;
    height: 70%;
    background-color: white;
    border-radius: 2vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    z-index: 1;

    img {
      position: relative;
      margin: 0 auto;
      z-index: 5;
    }

    .pokeId {
      position: absolute;
      z-index: 10;
      font-size: 4vh;
      font-weight: bold;
      color: #fff;
      text-shadow: -2px -2px 3px #333,
        2px -2px 3px #333,
        -2px 2px 3px #333,
        2px 2px 3px #333;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 2vh;
      top: 4vh;
    }

    .typeImage {
      display: flex;
      height: 125px;
      padding: 25px;
      position: absolute;
      right: 1vh;
      bottom: 1vh;
      border-radius: 100%;
      z-index: 10;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .data {

    .pokeName {
      font-size: 4vh;
      font-weight: bold;
      line-height: normal;
      color: white;
      text-transform: capitalize;
      margin: 3vh;
      text-align: center;
    }

    .pokeTypes {
      display: flex;
      justify-content: center;

      span {
        width: 100px;
        color: #fff;
        font-weight: 500;
        background-color: rgba(130, 130, 130, 1);
        padding: 2px 15px;
        border-radius: 25px;
        text-align: center;
        font-size: 1.75vh;
        margin: 0 1vh;
        padding: 5px 0;
        text-transform: capitalize;
      }
    }

    .bodyInfo {
      margin-top: 3.5vh;
      display: flex;
      justify-content: center;

      .info {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        margin: 0 5vh;

        .label {
          font-size: 1.5vh;
          font-weight: 500;
          color: #fff;
          text-transform: capitalize;
          text-align: center;
          margin-top: 10px;
        }

        .data {
          font-size: 2.5vh;
          font-weight: 600;
          color: #fff;
        }
      }
    }

  }

  .moreInfo {
    .label {
      font-size: 2.5vh;
      font-weight: 500;
      color: #fff;
      text-transform: capitalize;
      text-align: center;
      margin: 25px 0;
    }

    .stats {
      list-style: none;
      margin: 0;
      padding: 0;
      columns: 2;

      .label-tag {
        width: 40%;
        color: #fff;
        font-weight: 500;
        display: inline-block;
      }

      li {
        margin-bottom: 10px;
      }

      .progress-bar {
        width: 58%;
        background-color: #fff;
        border-radius: 20px;
        text-align: center;
        display: inline-flex;
        position: relative;
        z-index: 1;

        .progress-width {
          background-color: #ccc;
          border-radius: 20px;
          position: relative;
          z-index: 5;
        }

        .progress-content {
          width: 100%;
          text-align: center;
          position: absolute;
          color: rgba(0, 0, 0, 0.5);
          font-weight: 500;
          z-index: 10;
        }
      }
    }

  }

  .moves {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    list-style: none;
    height: 65%;
    word-wrap: break-word;
    overflow: auto;
    column-count: 3;

    &::-webkit-scrollbar {
      background-color: transparent;
      height: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #fff, $alpha: 0.75);
      border-radius: 25px;
    }

    &::-webkit-scrollbar-button {
      background-color: #fff;
      border: #555 solid 2px;
      border-radius: 100%;
    }
  }
}

.button-chgPage {
  background-color: #fbbc05;
  height: 10vh;
  width: 10vh;
  margin: 5vh;
  border-radius: 100%;
  text-decoration: none;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }

}

.prev::before {
  content: '';
  position: absolute;
  height: 10vh;
  width: 10vh;
  background-image: url('https://img.icons8.com/sf-black/344/circled-chevron-right.png');
  background-position: 0;
  background-size: 10vh;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(28deg) brightness(102%) contrast(105%);
}

.next::before {
  content: '';
  position: absolute;
  height: 10vh;
  width: 10vh;
  background-image: url('https://img.icons8.com/sf-black/344/circled-chevron-right.png');
  background-position: 0;
  background-size: 10vh;
  background-repeat: no-repeat;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(28deg) brightness(102%) contrast(105%);
}
