<h2 mat-dialog-title>Vincular Usuario</h2>
<mat-dialog-content>
  <span>Seleccione los usuarios que desea vincular:</span>
  <form>
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Usuarios</mat-label>
      <mat-chip-list #chipGrid aria-label="Users selection">
        <mat-chip *ngFor="let user of users" (removed)="remove(user)">
          {{user.primerNombre}} {{user.segundoNombre}} {{user.primerApellido}} {{user.segundoApellido}}
          <button matChipRemove [attr.aria-label]="'remove ' + user">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <input placeholder="New Fruit..." #userInput [formControl]="userCtrl"
        (keypress)="validateFormat($event, 'Alphanumeric')"
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"/>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
          {{user.primerNombre}} {{user.segundoNombre}} {{user.primerApellido}} {{user.segundoApellido}}
        </mat-option>
      </mat-autocomplete>
      <div *ngIf="userInputInvalid" [style.color]="'red'">
        {{userInputInvalidMsg}}
      </div>
    </mat-form-field>
  </form>

  <div class="items">
    <mat-card class="item-data" *ngFor="let item of users">
      <div class="item-icon">
        <mat-icon>person_outlined</mat-icon>
        <div class="toggle">
          <span>{{ (item.estado == 4) ? ('Activo') : ('Inactivo') }}</span>
          <mat-slide-toggle color="primary"
          disabled="true"
          [checked]="item.estado == 4"></mat-slide-toggle>
        </div>
      </div>
      <div class="item-info">
        <span>{{item.correo}}</span>
        <div>
          <span>Nombre: </span>
          <span class="data">
            {{item.primerNombre}} {{item.segundoNombre}} {{item.primerApellido}} {{item.segundoApellido}}
          </span>
        </div>
        <div>
          <span>Rol: </span>
          <span class="data">{{item.rol}}</span>
        </div>
        <div>
          <span>Fecha de Creacion: </span>
          <span class="data">
            {{getUserFechaCreacion(item.auditoria.fechaCreacion)}}
          </span>
        </div>
      </div>
    </mat-card>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary"
  (click)="vincularUsuario()"
  [mat-dialog-close]="true">
    Vincular Usuario
  </button>
  <button mat-button
  [mat-dialog-close]="true">
    Volver
  </button>
</mat-dialog-actions>
