.default_snackbar {
    padding: 10px 15px !important;
    min-width: none !important;
}

.error_snackbar {
    background-color: #d3302f !important;
}

.info_snackbar {
    background-color: #ff9800 !important;
}

.success_snackbar {
    background-color: #37933c !important;
}
