<div>
  <mat-paginator
    [length]="paginatorOptions.length"
    [pageSizeOptions]="paginatorOptions.pageSizeOptions"
    [pageSize]="paginatorOptions.pageSize"
    [pageIndex]="paginatorOptions.pageIndex"
    [showFirstLastButtons]="true"
    (page)="OnPageChange($event)"
    aria-label="Select page">
  </mat-paginator>

  <div class="container">
    <app-pokemon-card
      [pokemon]="pokemon"
      *ngFor="let pokemon of pokemonArraySlice"
    ></app-pokemon-card>
  </div>

  <mat-paginator
    [length]="paginatorOptions.length"
    [pageSizeOptions]="paginatorOptions.pageSizeOptions"
    [pageSize]="paginatorOptions.pageSize"
    [pageIndex]="paginatorOptions.pageIndex"
    [showFirstLastButtons]="true"
    (page)="OnPageChange($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
