.example-spacer {
  flex: 1 1 auto;

  ul {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    font-size: 18px;

    li {
      margin: 0 30px;
      color: white;

      a {
        text-decoration: none;

        &:visited {
          color: white;
        }
      }
    }
  }
}
.example-icon {
  border: none;
  background-color: transparent;
  color: white;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.mat-toolbar {
  position: fixed;
  height: 80px;
}

.header {
  height: 80px;
}
