.register-body {
  background-image: url('https://wallpaper.dog/large/20532057.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;

  .register-container {
    width: 50%;
    height: 80%;
    display: flex;
    background-color: rgba($color: #fff, $alpha: 0.90);
    border-radius: 50px;
    box-shadow: 0px 0px 15px 5px rgba(200,200,200,0.75);

    .logo-img {
      width: 50%;
      height: 100%;
      border-radius: 50px 0 0 50px;
      background-image: url('https://i.pinimg.com/originals/19/6c/6c/196c6c0c541d42385dc1bda77a76370a.jpg');
      background-size: cover;
    }

    .form-container {
      background-color: #fff;
      border-radius: 0 50px 50px 0;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .tittle {
        font-size: 50px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 40px;
        color: #444;
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        mat-form-field {
          height: 70px;
          width: 70%;
        }

        &>button {
          width: 150px;
          height: 50px;
          margin-top: 20px;
        }
      }
    }
  }
}
